# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
wheels/
pip-wheel-metadata/
share/python-wheels/
.installed.cfg
*.manifest
*.spec

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Static files (if you run collectstatic locally)
staticfiles/

# Migrations — НЕ игнорируем! (они нужны в репозитории)

# Environments variables
.env
.env.local

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Other
*.bak
*.swp
*.tmp